---
http_interactions:
- request:
    method: get
    uri: https://<api-key>:<api-password>@docsapi.helpscout.net/v1/articles/54027853e4b019254d1ec268
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      "<api-password>-Frame-Options":
      - SAMEORIGIN
    body:
      encoding: UTF-8
      string: '{"article":{"id":"54027853e4b019254d1ec268","number":149,"collectionId":"540221e9e4b019254d1ec25b","slug":"article","status":"notpublished","hasDraft":true,"name":"Article","text":"<p>Revision</p>","categories":["540227d7e4b003be53bdcd28"],"related":null,"publicUrl":"http://rubydocsapi.helpscoutdocs.com/article/149-article","popularity":0.0,"keywords":null,"viewCount":0,"createdBy":20055,"updatedBy":20055,"createdAt":"2014-08-31T01:20:19Z","updatedAt":"2014-08-31T02:48:48Z","lastPublishedAt":null}}'
  recorded_at: Sun, 31 Aug 2014 19:02:48 GMT
recorded_with: VCR 2.9.0
