---
http_interactions:
- request:
    method: get
    uri: https://<api-key>:<api-password>@docsapi.helpscout.net/v1/categories/540227d7e4b003be53bdcd28
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      "<api-password>-Frame-Options":
      - SAMEORIGIN
    body:
      encoding: UTF-8
      string: '{"category":{"id":"540227d7e4b003be53bdcd28","number":148,"slug":"category","visibility":"public","collectionId":"540221e9e4b019254d1ec25b","order":1,"defaultSort":"popularity","name":"Category","description":null,"articleCount":1,"publishedArticleCount":0,"publicUrl":"http://rubydocsapi.helpscoutdocs.com/category/148-category","createdBy":20055,"updatedBy":20055,"createdAt":"2014-08-30T19:36:55Z","updatedAt":"2014-08-31T01:20:20Z"}}'
  recorded_at: Sun, 31 Aug 2014 19:02:50 GMT
recorded_with: VCR 2.9.0
