---
http_interactions:
- request:
    method: get
    uri: https://<api-key>:<api-password>@docsapi.helpscout.net/v1/collections/540221e9e4b019254d1ec25b/articles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      "<api-password>-Frame-Options":
      - SAMEORIGIN
    body:
      encoding: UTF-8
      string: '{"articles":{"page":1,"pages":1,"count":2,"items":[{"id":"54027853e4b019254d1ec268","number":149,"collectionId":"540221e9e4b019254d1ec25b","slug":"article","status":"notpublished","hasDraft":true,"name":"Article","publicUrl":"http://rubydocsapi.helpscoutdocs.com/article/149-article","popularity":0.0,"viewCount":0,"createdBy":20055,"updatedBy":20055,"createdAt":"2014-08-31T01:20:19Z","updatedAt":"2014-08-31T02:48:48Z","lastPublishedAt":null},{"id":"54028cf8e4b003be53bdcd2e","number":150,"collectionId":"540221e9e4b019254d1ec25b","slug":"another-article","status":"notpublished","hasDraft":false,"name":"Another
        article","publicUrl":"http://rubydocsapi.helpscoutdocs.com/article/150-another-article","popularity":0.0,"viewCount":0,"createdBy":20055,"updatedBy":20055,"createdAt":"2014-08-31T02:48:24Z","updatedAt":"2014-08-31T02:48:31Z","lastPublishedAt":"2014-08-31T02:48:31Z"}]}}'
  recorded_at: Sun, 31 Aug 2014 19:02:47 GMT
recorded_with: VCR 2.9.0
