---
http_interactions:
- request:
    method: get
    uri: https://<api-key>:<api-password>@docsapi.helpscout.net/v1/collections/540221e9e4b019254d1ec25b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      "<api-password>-Frame-Options":
      - SAMEORIGIN
    body:
      encoding: UTF-8
      string: '{"collection":{"id":"540221e9e4b019254d1ec25b","siteId":"540221a1e4b019254d1ec25a","number":145,"slug":"collection","visibility":"public","order":1,"name":"Collection","description":"","publicUrl":"http://rubydocsapi.helpscoutdocs.com/collection/145-collection","articleCount":2,"publishedArticleCount":0,"createdBy":20055,"updatedBy":20055,"createdAt":"2014-08-30T19:11:37Z","updatedAt":"2014-08-30T19:36:56Z"}}'
  recorded_at: Sun, 31 Aug 2014 19:02:53 GMT
recorded_with: VCR 2.9.0
